.EventDetailedHeader {
    
    .eventImageStyle {
        filter: brightness(70%);
    }
    .eventImageTextStyle {
        position: absolute;
        bottom: 5%;
        left: 5%;
        width: 100%;
        height: auto;
        color: white;
    }
}
