.App {
 
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

// ::-webkit-scrollbar-track {
//   background-color: #c7e3ec;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   background-color: #131345;
//   -webkit-box-shadow: 0 0 1px #230d8580;

// }

// ::-webkit-scrollbar-thumb:vertical {
//   height: 20px;
// }

html {
  //this defines what 1rem is 
  font-size: 62.5%; //1 rem = 10px ; 10px/16px = 62.5%

  // @include respond(tab-land) {
  //   font-size: 56.25%; // 1 rem = 9px 9/16 = 56.25%
  // }

  // @include respond(tab-port) {
  //   font-size: 50%; // 1 rem = 8px 8/16 = 50%
  // }

  // @include respond(big-desktop) {
  //   font-size: 80%; // 1 rem = 12px 12/16 = 75%
  // }
}

body {
  box-sizing: border-box;
  height: unset;
 // padding-top: 3rem;

  // @include respond(tab-port) {
  //   padding: 0
  // }
}

/*timepicker style*/
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
  width: 100px;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}


/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  height: 100vh;
}

/* .masthead.segment {
  min-height: 700px;
  padding: 1em 0 !important;
} */

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/* .footer.segment {
  padding: 5em 0;
} */

.secondary.inverted.pointing.menu {
  border: none;
}

/*end home page styles*/

/* navbar styles */

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.ui.fixed.menu {
  background-image: linear-gradient(135deg,
      #272625 50%,
      #3f4040 69%,
      #5e5e5f 89%) !important;
}

.ui.main.container,
.main.segment {
  margin-top: 7em;
}

.ui.center.aligned.segment.attendance-preview {
  background-color: #f5f5f5;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.ui.menu .item>img:not(.ui) {
  margin-right: 1.5em !important;
}

.ui.menu:not(.vertical) .item>.button {
  margin-left: 0.5em;
}

/*chat comments*/

.ui.comments .comment .comments {
  padding-bottom: 0 !important;
  padding-left: 2em !important;
}

/* dropzone styles */
.dropzone {
  border: dashed 3px #eee;
  border-radius: 5px;
  padding-top: 30px;
  text-align: center;
  /* min-height: 236px; */
}

.dropzone--isActive {
  border: dashed 3px green;
}